* {box-sizing: border-box}
body {font-family: 'Jost', sans-serif; margin:0}


.mail_me {display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    }

.mail_container{
    background-color: #ec94c6;
    border-radius: 25px;
    padding:40px; 
    text-align: center;
    max-width: 900px;
    position: absolute;
    }

.form {
    border-radius:25px;
    }

.send{
     width:70px;
     height:auto;
     align-content: center;
     background-color: #ec94c6;
     border: none;
    }

input {
    color:black;
    font-size:14px;
    border-radius: 25px;
    border: none;
    padding: 8px;
    width: 90%;
}

.back img {
    max-width: 1080px;
    }

#rispondiamo {
    display: none;
    color: white;
    font-size: 30px;
}

/*mobile*/
@media screen and (max-width: 1300px) {
    .back {
        margin-top: 2em;
    }
    

}


