.footer {
    margin-top: 1.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #ec94c6;
    text-align: center;
    justify-content: center;
  }

  .footer a {
      text-decoration: none;
      color: black;
    }

.footer img{
    width:30px;
    
}