body {font-family: 'Jost', sans-serif;}

.categories {
    width: 80%;
    margin:0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .flex-container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 100px;
    border-radius: 50%;
  }

  .flex-container > div {
    width: 450px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

.section_title {
  text-align: center;
  color: #ec94c6;
  font-size: 35px;
}

  /* overlay immagini galleria */

  .img_container {
    position: relative;
    width: 50%;
  }

  .gallery_image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .img_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0%;
    transition: .5s ease;
    background-color: #ec94c6;
    border-radius: 50%;
    cursor: pointer;

  }
  
  .img_container:hover .img_overlay {
    opacity: 80%;    
  }

  .img_text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .slide_img_mob {
    display:none;
  }
  
  #text_mob {
  display:none;
  }

  





  /* --- MOBILE --- */
@media screen and (max-width: 1300px) {
 

  .slide_img_mob {
    display:block;
  }

  .slide_img_desk {
    display:none;
  }
  
  #text_mob {
    display:block;
  }

  

}
