body {
    font-family: 'Jost', sans-serif;
}

.categories {
    width: 80%;
    margin:0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .flex-container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    min-width: 100px;
    border-radius: 50%;
  }

  .flex-container > div {
    width: 450px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .footer {
    margin-top: 1.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: #ec94c6;
    text-align: center;
  }

  .footer a {
      text-decoration: none;
      color: black;
  }