/*barra di navigazione nelle categorie*/

.nav_categories{
    display: flex;
    flex-direction: row;
    justify-content:center;
   }

.nav_categories img {
   width: 15px;
   padding-bottom: 6px;
 
}

.nav_categories div {
    padding-left: 10px;
    padding-right: 10px;
    align-self: baseline;
    }

.nav_categories p{
    font-size: 20px;
   }



/*imageoverlay*/
 .thumbnail {
  position:relative;
  }

.thumb_image {
  width: 100%;
  height: auto;
  }

.thumb_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ec94c6;
    }

.thumbnail:hover .thumb_overlay {
  opacity: 80%;
}

.thumb_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}