/*--- DESKTOP NAV ---*/

#logo_navbar {
    width: 100%;
    height: 105px;
    max-width: 500px;
    min-width: 100px;
}

.topnav {
    overflow: hidden;
    background-color: #fff;

    width: 80%;
    margin:0 auto;
}

.topnav a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    line-height: 152px;
}

.topnav #nav_logo {
    float: left;
} 

.topnav a:hover {
    color: #ec94c6;
}

.topnav a.active {
    color: #ec94c6;
}


/*--- MOBILE NAV ---*/

#logo_mob_navbar {
    width: 280px;
    vertical-align: middle;
}

#nav_button {
    font-size:40px;
    cursor:pointer;
    padding-left: 20px;
    padding-right: 0.2em;
}

.menu_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(236,148,198, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.menu_overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu_overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.menu_overlay a:hover, .menu_overlay a:focus {
    color: black;
}

.menu_overlay .closebtn {
    text-align: center;
    margin-left: 295px;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/*--- SEARCHBAR ---*/
.search_bar {

    border: 0;
    border-bottom: 2px solid black;
    background: transparent;
    font-size: 1.3rem;
    margin-top: 2em;
}

.search_overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(236,148,198, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.search_overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.search_overlay a {
    padding: 0px;
    text-decoration: none;
    font-size: 36px;
    color: black;
    display: block;
    transition: 0.3s;
}

.search_overlay a:hover, .search_overlay a:focus {
    color: black;
}

.search_overlay .closebtn {
    text-align: right;
    margin: 0 auto;
    padding-top: 1.7em;
    padding-right: 0.5em;
    width: 80%;
}


/* --- MEDIA QUERY --- */
@media screen and (max-width: 1360px) {
    #desk_nav {
        display: none;
    }

    #mob_top {
        display: flex;
        justify-content: center;
        padding-top:1em;
    }

}

@media screen and (min-width: 1360px) {
    #desk_nav {
        display: inline;
    }

    #mob_top {
        display: none;
    }

}

@media screen and (max-height: 500px) {
    .menu_overlay a {
        font-size: 20px;
    }

    .search_overlay a {
        font-size: 25px;
    }

    .search_bar {
        font-size: 14px;
        margin-top: 1em;
    }

    .menu_overlay .closebtn {
        font-size: 60px;
        top: 15px;
        right: 35px;
    }
}
