#foto_profilo {
    width: 100%;
    height: auto;
    max-width: auto;
    min-width: 100px;
}

#foto_cerchio {
    width: 100%;
    height: auto;
    max-width: 400px;
    min-width: 100px;
    margin: 0 auto;
    margin-top: 2em;
}

.flex-container {
    width: 80%;
    min-height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  #bio_title {
    color: #ec94c6;
}

  #bio_text {
      text-align: justify;
  }

  .social_ico {
    width: 100%;
    height: auto;
    max-width: 48px;
    min-width: 24px;
    margin: 1em;
  }

  .social a {
      text-decoration: none;
    }

    .freccia {
    max-width: 24px;
    min-width: 12px;
    }


@media screen and (max-width: 1300px) {
    .bio {
        width: 100%;
        order: 2;
    }
    
    .foto {
        width: 100%;
        order: 1;
    }
    
    .social {
        width: 100%;
        text-align: center;
        order: 3;
    }

    .flex-container {
        width: 100%;
    }

    #bio_text {
        padding-left: 2em;
        padding-right: 2em;
    }

    #bio_title {
        text-align: center;
    }

    #foto_profilo {
        display: none;
    }

    #foto_cerchio {
        display: flex;
    }

}

@media screen and (min-width: 1300px) {
    .bio {
        width: 40%;
    }
    
    .foto {
        width: 50%;
    }
    
    .social {
        width: 10%;
        text-align: center;
    }

    .flex-container div {
        padding-left: 1em;
        padding-right: 1em;
      }


    #foto_profilo {
        display: flex;
    }

    #foto_cerchio {
        display: none;
    }

} 