.flex-slideimg {
    width: 80%;
    min-height: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  #des_title {
    color: #ec94c6;
}


  #sub{
    color: black;
    
}

#des_text_1 {
    margin: 0 auto;
    text-align: justify;
    width: 40%;
    column-count: 1;
    column-gap: 40px;
    margin-bottom: 3em;
}

#des_text_2 {
    margin: 0 auto;
    text-align: justify;
    width: 80%;
    column-count: 2;
    column-gap: 40px;
    margin-bottom: 3em;
}

.description {
    width: 100%;
    order: 2;
}

.foto {
    width: 100%;
    order: 1;
}

.social {
    width: 100%;
    text-align: center;
    order: 3;
}

.flex-slideimg {
    width: 80%;
    height: auto;
    width: auto;
}

.slide_img {
    max-height: 600px;
    display: block;     
    margin-left: auto;
    margin-right: auto;
}

#des_text {
    padding-left: 2em;
    padding-right: 2em;
}

#des_title {
    text-align: center;
}

    #sub {
    text-align: center;
}


/* --- MOBILE --- */
@media screen and (max-width: 1300px) {
    #des_text_1 {
        width: 90%;
        column-count: 1;
    }

    #des_text_2 {
        width: 90%;
        column-count: 1;
    }

    .slide_img {
        max-width: 100%;
        max-height: 600px;
        display: flex;     
        margin-left: auto;
        margin-right: auto;
    }

}
