.slideshow_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 100%;
    transition: .5s ease;
    background-color: transparent;
    display:flex;
    align-items: center;
    justify-content: flex-end;
  }

  .slide_img {
      width:100%;
      min-height: auto;
    }


.slideshow_overlay_content {
   margin-right: 2.5em;

}



.titolo_shop {
    letter-spacing: 0.2em;

}

.slogan_shop {
    font-weight: normal;
    margin-bottom: 1.5em;


}

.button_shop{
    text-decoration: none;
    color:black;
    border-style: solid;
    border-radius: 25px;
    border: 2px solid  black ;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    

}

.button_shop:hover{
    background-color: #ec94c6;
    color:white;
    border: 0px solid;

}

.visitashop_mob {
    display:none;
    text-align: center;
}

.slide_img_mob {
    display:none;
}



/* --- MOBILE --- */
@media screen and (max-width: 1300px) {
    .slideshow_overlay {
    display:none;
    }

    .visitashop_mob {
        display:block;
        padding-bottom: 4em;
        
    }

    .slideshow-container {
        display: flex;
        align-items: center;
        max-width: 100%;
        min-height: auto;
        max-height: initial;
        height: auto;
        
    }
    
    .flex-slideimg {
        min-height: 0px;
       
    }
    
    .slide_img_mob {
        display:block;
    }

    .slide_img_desk {
        display:none;
    }

}

/* --- DESKTOP --- */
@media screen and (min-width: 1300px) {
    

}


