body {font-family: 'Jost', sans-serif;}

.zines{
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-flow:wrap;
   
   
}

.zines > div {
 
  
margin: 20px;

  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

/*imageoverlay*/
 .zine-container {
  position:relative;
  width: 30%;
  cursor: pointer;
     
}

.zine_image {
  width: 100%;
  height: auto;
}

.zine_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ec94c6;
}

.zine-container:hover .zine_overlay {
  opacity: 80%;
}

.zine_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.zine_text_mob {
  font-size: 20px;
}

/* mobile */
@media screen and (max-width: 1300px) {
  .zine-container {
      width: 80%;
  }

  .zine_overlay {
    display: none;
  }

}

/* desktop */
@media screen and (min-width: 1300px) {
  .zine_text_mob {
    display: none;
  }

}